doctype html
html(dir="rtl",lang="ar")
    head
        block website_title
            title الوساطة
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        include include/style
    body
        include include/header 
        block index 
            div(class="news-slider")
                div(class="container")
                    div(class="owl-carousel owl-theme")
                        div(class="item" style="background-image:url(./img/bgslider.jpg)")
                            div(class="slider-title")
                                div(class="post-date d-flex")
                                    i(class="fas fa-clock")
                                    p يناير 30, 2022
                                h2
                                    a(href="singlePost.html" class="text-decoration-none") اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير   
                                p الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من       
            //- START main content 
            div(class="main-content mt-5")
                div(class="container")
                    div(class="row")
                        div(class="col-lg-9 col-sm-12")
                            div(class="main-section")
                                div(class="cat-title")
                                    h2 سوق السيارات  
                                    div(class="stripe-line")
                                div(class="cat-box")

                                    div(class="row")
                                        div(class="col-md-6")
                                            div(class="cat-post")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none" )
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                        i(class="fas fa-camera-retro")
                                                div(class="cat-post-info mt-3")
                                                    h3(class="post-title")
                                                        a(href="singlePost.html" class="text-decoration-none")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                    div(class="post-date d-flex     align-items-center mt-3")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4    
                                                    p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                    a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                        i(class="fas fa-chevron-left fa-lg")   
                                        div(class="col-md-6")
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                div(class="post-text")
                                                    p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4 
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                div(class="post-text")
                                                    p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4 
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                div(class="post-text")
                                                    p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022    
                                                        i(class="fas fa-comment")
                                                        p 4 
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                div(class="post-text")
                                                    p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022    
                                                        i(class="fas fa-comment")
                                                        p 4                                   
                            div(class="second-section")
                                div(class="row")
                                    div(class="col-md-6")
                                        div(class="card mt-5 p-3")
                                            div(class="cat-section")
                                            div(class="widget-title")
                                                h4 الشرق الاوسط
                                                div(class="stripe-line")
                                            div(class="cat-post")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html" class="text-decoration-none")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                        i(class="fas fa-camera-retro")
                                                div(class="cat-post-info mt-3")
                                                    h3(class="post-title")
                                                        a(href="singlePost.html" class="text-decoration-none")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                    div(class="post-date d-flex     align-items-center mt-3")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4    
                                                    p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                    a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                        i(class="fas fa-chevron-left fa-lg") 
                                            div(class="posts-block")
                                                div(class="post-block d-flex align-items-center")
                                                    div(class="post-thumb position-relative")
                                                        a(href="singlePost.html" class="text-decoration-none")
                                                            img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                    div(class="post-text")
                                                        p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                        div(class="post-date d-flex align-items-center")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022  
                                                            i(class="fas fa-comment")
                                                            p 4  
                                                div(class="post-block d-flex align-items-center")

                                                    div(class="post-thumb position-relative")
                                                        a(href="singlePost.html" class="text-decoration-none")
                                                            img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                    div(class="post-text")
                                                        p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                        div(class="post-date d-flex align-items-center")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022  
                                                            i(class="fas fa-comment")
                                                            p 4 
                                    div(class="col-md-6")
                                        div(class="card mt-5 p-3")
                                            div(class="cat-section")
                                            div(class="widget-title")
                                                h4 الشرق الاوسط
                                                div(class="stripe-line")
                                            div(class="cat-post")
                                                div(class="post-thumb position-relative")
                                                    a(href="singlePost.html")
                                                        img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                        i(class="fas fa-camera-retro")
                                                div(class="cat-post-info mt-3")
                                                    h3(class="post-title")
                                                        a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                    div(class="post-date d-flex     align-items-center mt-3")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4    
                                                    p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                    a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                        i(class="fas fa-chevron-left fa-lg") 
                                            div(class="posts-block")
                                                div(class="post-block d-flex align-items-center")
                                                    div(class="post-thumb position-relative")
                                                        a(href="singlePost.html" class="text-decoration-none")
                                                            img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                    div(class="post-text")
                                                        p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                        div(class="post-date d-flex align-items-center")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022  
                                                            i(class="fas fa-comment")
                                                            p 4 
                                                div(class="post-block d-flex align-items-center")
                                                    div(class="post-thumb position-relative")
                                                        a(href="singlePost.html" class="text-decoration-none")
                                                            img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                    div(class="post-text")
                                                        p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                        div(class="post-date d-flex align-items-center")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022  
                                                            i(class="fas fa-comment")
                                                            p 4             
                            div(class="third-section mt-3")
                                div(class="cat-title")
                                    h2 الاعلانات 
                                    div(class="stripe-line")
                                div(class="card")
                                    div(class="owl-carousel owl-theme posts-carousel")
                                        div(class="item")
                                            div(class="post-block")
                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                    div(class="post-thumb position-relative")
                                                        img(src="./img/catpost.jpg", alt="")
                                                        i(class="fas fa-camera-retro")
                                                    div(class="post-text")
                                                        p ولي وطن آليت ألا أبيعه وألا أرى غيري له الدهر مالكا
                                                        div(class="post-date d-flex")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022
                                        div(class="item")
                                            div(class="post-block")
                                                a(href="singlePost.html" class="text-decoration-none" style="color:#000")
                                                    div(class="post-thumb position-relative")
                                                        img(src="./img/catpost.jpg", alt="")
                                                        i(class="fas fa-camera-retro")
                                                    div(class="post-text")
                                                        p ولي وطن آليت ألا أبيعه وألا أرى غيري له الدهر مالكا
                                                        div(class="post-date d-flex")
                                                            i(class="fas fa-clock")
                                                            p يناير 30, 2022              
                            div(class="fourth-section mt-3")
                                div(class="cat-title")
                                    h2 صور
                                    div(class="stripe-line")     
                                div(class="posts-media")
                                    div(class="card")
                                        div(class="row")
                                            div(class="col-md-6")
                                                div(class="cat-post")
                                                    div(class="post-thumb position-relative ")
                                                        a(href="singlePost.html")
                                                            img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                            i(class="fas fa-camera-retro") 
                                            div(class="col-md-6")  
                                                div(class="posts-group")
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro")
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                                                    div(class="cat-post")
                                                        div(class="post-thumb position-relative ")
                                                            a(href="singlePost.html")
                                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                i(class="fas fa-camera-retro") 
                            div(class="main-section five-section mt-3")
                                div(class="cat-title")
                                    h2 التكنولوجيا
                                    div(class="stripe-line")
                                div(class="cat-box")
                                    div(class="cat-post d-flex")
                                        div(class="post-thumb position-relative")
                                            a(href="singlePost.html")
                                                img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                i(class="fas fa-camera-retro")
                                        div(class="cat-post-info m-3")
                                            h3(class="post-title")
                                                a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                            div(class="post-date d-flex     align-items-center mt-3")
                                                div(class="ratings px-2")
                                                    i(class="fas fa-star rating-color")
                                                    i(class="fas fa-star rating-color")
                                                    i(class="fas fa-star rating-color")
                                                    i(class="fas fa-star rating-color")
                                                    i(class="far fa-star")

                                                i(class="fas fa-clock")
                                                p يناير 30, 2022  
                                                i(class="fas fa-comment")
                                                p 4    
                                            p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                            a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                i(class="fas fa-chevron-left fa-lg")   
                                    div(class="posts-box")
                                        div(class="post-block d-flex align-items-center")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                            div(class="post-text")
                                                p(class="cat-post-desc")  مراجعة بلاك بيري كلاسيك: بلاك بيري تعود لأصلها
                                                div(class="post-date d-flex     align-items-center mt-3")
                                                    div(class="ratings px-2")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="far fa-star")

                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4    
                                        div(class="post-block d-flex align-items-center")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                            div(class="post-text")
                                                p(class="cat-post-desc")  مراجعة بلاك بيري كلاسيك: بلاك بيري تعود لأصلها
                                                div(class="post-date d-flex     align-items-center mt-3")
                                                    div(class="ratings px-2")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="far fa-star")

                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4   
                                        div(class="post-block d-flex align-items-center")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                            div(class="post-text")
                                                p(class="cat-post-desc")  مراجعة بلاك بيري كلاسيك: بلاك بيري تعود لأصلها
                                                div(class="post-date d-flex     align-items-center mt-3")
                                                    div(class="ratings px-2")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="far fa-star")

                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4 
                                        div(class="post-block d-flex align-items-center")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                            div(class="post-text")
                                                p(class="cat-post-desc")  مراجعة بلاك بيري كلاسيك: بلاك بيري تعود لأصلها
                                                div(class="post-date d-flex     align-items-center mt-3")
                                                    div(class="ratings px-2")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="fas fa-star rating-color")
                                                        i(class="far fa-star")

                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4                            
                            div(class="video-section mt-3")
                                div(class="cat-title")
                                    h2 فيديوهات
                                    div(class="stripe-line")
                                div(class="posts-media")
                                    div(class="card")
                                        div(class="row")
                                            div(class="col-md-9 col-sm-12 col-xs-12")
                                                div(class="video-box")
                                                    div(class="post-thumb position-relative m-2")
                                                        a(data-fancybox data-type="video" href="https://www.youtube.com/embed/i4tNuM9XttM?rel=0&wmode=opaque&autohide=1&border=0&egm=0&showinfo=0")
                                                            img(src="./img/bgvideo.jpg" class="img-fluid" width="100%")
                                                            i(class="far fa-play-circle") 
                                            div(class="col-md-3 col-sm-12 col-xs-12")  
                                                div(class="video-box")
                                                    div(class="post-thumb position-relative m-3")
                                                        a(  data-fancybox data-type="video" href="https://www.youtube.com/embed/i4tNuM9XttM?rel=0&wmode=opaque&autohide=1&border=0&egm=0&showinfo=0")
                                                            img(src="./img/bgvideo.jpg" class="img-fluid" width="100%")
                                                            i(class="far fa-play-circle") 
                                                    div(class="post-thumb position-relative m-3")
                                                        a(  data-fancybox data-type="video" href="https://www.youtube.com/embed/i4tNuM9XttM?rel=0&wmode=opaque&autohide=1&border=0&egm=0&showinfo=0")
                                                            img(src="./img/bgvideo.jpg" class="img-fluid" width="100%")
                                                            i(class="far fa-play-circle")
                                                    div(class="post-thumb position-relative m-3 ")
                                                        a(  data-fancybox data-type="video" href="https://www.youtube.com/embed/i4tNuM9XttM?rel=0&wmode=opaque&autohide=1&border=0&egm=0&showinfo=0")
                                                            img(src="./img/bgvideo.jpg" class="img-fluid" width="100%")
                                                            i(class="far fa-play-circle")                          
                            div(class="shape-section mt-3")
                                div(class="cat-title")
                                    h2 المعرض
                                    div(class="stripe-line") 
                                div(class="widget-images")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a( data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/1806717289_6e97fe91c9_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")                        
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")    
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")    
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera") 
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/1806717289_6e97fe91c9_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")                        
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")    
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")    
                                    div(class="post-block")
                                        div(class="post-thumb position-relative")
                                            a(data-fancybox data-type="image" href="./img/1806717289_6e97fe91c9_b-110x75.jpg")
                                                img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                i(class="fas fa-camera")    
                            div(class="tab-section mt-3")
                                div(class="sidebar-widget sidebar-tabs mt-4")
                                    ul#myTab(class="nav nav-tabs", role="tablist")
                                        li(class="nav-item", role="presentation")
                                            button#tech-tab(class="nav-link active", data-bs-toggle="tab", data-bs-target="#tech", type="button", role="tab", aria-controls="tech", aria-selected="true") اعلانات مدفوعة
                                        li(class="nav-item", role="presentation")
                                            button#worldn-tab(class="nav-link", data-bs-toggle="tab", data-bs-target="#worldn", type="button", role="tab", aria-controls="worldn", aria-selected="false") اعلانات عقارات
                                        li(class="nav-item", role="presentation")
                                            button#sports-tab(class="nav-link", data-bs-toggle="tab", data-bs-target="#sports", type="button", role="tab", aria-controls="sports", aria-selected="false") اعلانات مبوبة
                                    #myTabContent(class="tab-content")    
                                        #tech(class="tab-pane fade show active", role="tabpanel", aria-labelledby="tech-tab") 
                                            div(class="cat-box")
                                                div(class="row")
                                                    div(class="col-md-6")
                                                        div(class="cat-post")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html")
                                                                    img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                    i(class="fas fa-camera-retro")
                                                            div(class="cat-post-info mt-3")
                                                                h3(class="post-title")
                                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                                div(class="post-date d-flex     align-items-center mt-3")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4    
                                                                p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                                a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                                    i(class="fas fa-chevron-left fa-lg")   
                                                    div(class="col-md-6")
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022    
                                                                    i(class="fas fa-comment")
                                                                    p 4                       

                                        #worldn(class="tab-pane fade", role="tabpanel", aria-labelledby="worldn-tab") 
                                            div(class="cat-box")
                                                div(class="row")
                                                    div(class="col-md-6")
                                                        div(class="cat-post")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html")
                                                                    img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                    i(class="fas fa-camera-retro")
                                                            div(class="cat-post-info mt-3")
                                                                h3(class="post-title")
                                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                                div(class="post-date d-flex     align-items-center mt-3")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4    
                                                                p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                                a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                                    i(class="fas fa-chevron-left fa-lg")   
                                                    div(class="col-md-6")
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html" class="text-decoration-none"  style="color:#000")
                                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022    
                                                                    i(class="fas fa-comment")
                                                                    p 4                       
                                        #sports(class="tab-pane fade", role="tabpanel", aria-labelledby="sports-tab") 
                                            div(class="cat-box")
                                                div(class="row")
                                                    div(class="col-md-6")
                                                        div(class="cat-post")
                                                            div(class="post-thumb position-relative")
                                                                a(href="singlePost.html")
                                                                    img(src="./img/catpost.jpg" class="img-fluid" width="100%")
                                                                    i(class="fas fa-camera-retro")
                                                            div(class="cat-post-info mt-3")
                                                                h3(class="post-title")
                                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                                div(class="post-date d-flex     align-items-center mt-3")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4    
                                                                p(class="cat-post-desc mt-3") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من 
                                                                a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                                    i(class="fas fa-chevron-left fa-lg")   
                                                    div(class="col-md-6")
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022  
                                                                    i(class="fas fa-comment")
                                                                    p 4 
                                                        div(class="post-block d-flex align-items-center")
                                                            div(class="post-thumb position-relative")
                                                                img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                            div(class="post-text")
                                                                p(class="cat-post-desc")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                                div(class="post-date d-flex align-items-center")
                                                                    i(class="fas fa-clock")
                                                                    p يناير 30, 2022    
                                                                    i(class="fas fa-comment")
                                                                    p 4                       
                            div(class="posts-section mt-3")
                                div(class="cat-title")
                                    h2 اخر التحديثات
                                    div(class="stripe-line")

                                div(class="posts-block") 
                                    div(class="cat-box")
                                        div(class="cat-post")
                                            div(class="cat-post-info mt-3")
                                                h3(class="post-title")
                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                div(class="post-date d-flex     align-items-center m-3")
                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4   
                                            div(class="row")
                                                div(class="col-md-6")
                                                    div(class="post-thumb position-relative pos")
                                                        img(src="./img/lock-310x165.jpg", alt="" class="img-fluid" width="100%") 
                                                        i(class="fas fa-camera-retro")
                                                div(class="col-md-6")         
                                                    div(class="post-text")
                                                        p(class="cat-post-desc mt-3")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من أنباء متداولة و آخر أخبار و تحليلات ومقالات رأى وابواب مخصصة لأفرع الكتابة و الأدب ويمكن حصرها في هدف النشر و التوزيع بث أفكار في شكل معلومات وإعلانات، وعادة ما تطبع نسخة علي …
                                                        a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                            i(class="fas fa-chevron-left fa-lg")   
                                        div(class="cat-post")
                                            div(class="cat-post-info mt-3")
                                                h3(class="post-title")
                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                div(class="post-date d-flex     align-items-center m-3")
                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4   
                                            div(class="row")
                                                div(class="col-md-6")
                                                    div(class="post-thumb position-relative pos")
                                                        img(src="./img/lock-310x165.jpg", alt="" class="img-fluid" width="100%") 
                                                        i(class="fas fa-camera-retro")
                                                div(class="col-md-6")         
                                                    div(class="post-text")
                                                        p(class="cat-post-desc mt-3")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من أنباء متداولة و آخر أخبار و تحليلات ومقالات رأى وابواب مخصصة لأفرع الكتابة و الأدب ويمكن حصرها في هدف النشر و التوزيع بث أفكار في شكل معلومات وإعلانات، وعادة ما تطبع نسخة علي …
                                                        a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                            i(class="fas fa-chevron-left fa-lg")
                                        div(class="cat-post")
                                            div(class="cat-post-info mt-3")
                                                h3(class="post-title")
                                                    a(href="singlePost.html")  اصبر قليلا فبعد العسر تيسير وكل أمر له وقت وتدبير
                                                div(class="post-date d-flex     align-items-center m-3")
                                                    i(class="fas fa-clock")
                                                    p يناير 30, 2022  
                                                    i(class="fas fa-comment")
                                                    p 4   
                                            div(class="row")
                                                div(class="col-md-6")
                                                    div(class="post-thumb position-relative pos")
                                                        img(src="./img/lock-310x165.jpg", alt="" class="img-fluid" width="100%") 
                                                        i(class="fas fa-camera-retro")
                                                div(class="col-md-6")         
                                                    div(class="post-text")
                                                        p(class="cat-post-desc mt-3")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من أنباء متداولة و آخر أخبار و تحليلات ومقالات رأى وابواب مخصصة لأفرع الكتابة و الأدب ويمكن حصرها في هدف النشر و التوزيع بث أفكار في شكل معلومات وإعلانات، وعادة ما تطبع نسخة علي …
                                                        a(class="read-more mt-5" href="singlePost.html") أكمل القراءة
                                                            i(class="fas fa-chevron-left fa-lg")   
                                    div(class="pagination")

                                        a(href="singlePost.html" class="active") 1
                                        a(href="singlePost.html") 2
                                        a(href="singlePost.html") 3
                                        a(href="singlePost.html") 4
                                        a(href="singlePost.html") 5
                                        a(href="singlePost.html") 6


                        div(class="col-lg-3 col-sm-12") 
                            aside(class="sidebar")
                                div(class="sidebar-widget social-sidebar")
                                    div(class="row")
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-facebook-f fa-lg")
                                                span 14.170
                                                span متابع
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-twitter fa-lg")
                                                span 14.170
                                                span متابع

                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-instagram fa-lg")
                                                span 14.170
                                                span متابع
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-facebook-f fa-lg")
                                                span 14.170
                                                span متابع
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-twitter fa-lg")
                                                span 14.170
                                                span متابع

                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-instagram fa-lg")
                                                span 14.170
                                                span متابع
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-facebook-f fa-lg")
                                                span 14.170
                                                span متابع
                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-twitter fa-lg")
                                                span 14.170
                                                span متابع

                                        div(class="col-md-4 col-4") 
                                            a(href="singlePost.html" class="social-count")
                                                i(class="fab fa-instagram fa-lg")
                                                span 14.170
                                                span متابع
                                div(class="sidebar-widget sidebar-tabs mt-4")
                                    ul#myTab(class="nav nav-tabs", role="tablist")
                                        li(class="nav-item", role="presentation")
                                            button#home-tab(class="nav-link active", data-bs-toggle="tab", data-bs-target="#home", type="button", role="tab", aria-controls="home", aria-selected="true") اخبار
                                        li(class="nav-item", role="presentation")
                                            button#profile-tab(class="nav-link", data-bs-toggle="tab", data-bs-target="#profile", type="button", role="tab", aria-controls="profile", aria-selected="false") منوعات
                                        li(class="nav-item", role="presentation")
                                            button#contact-tab(class="nav-link", data-bs-toggle="tab", data-bs-target="#contact", type="button", role="tab", aria-controls="contact", aria-selected="false") اقتصاد
                                    #myTabContent(class="tab-content")
                                        #home(class="tab-pane fade show active", role="tabpanel", aria-labelledby="home-tab")
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                div(class="post-text")
                                                    p(class="cat-post-desc text-block-sm")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4 
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                div(class="post-text")
                                                    p(class="cat-post-desc text-block-sm")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4 
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/catpost.jpg", alt="" class="img-fluid img-full")
                                                div(class="post-text")
                                                    p(class="cat-post-desc text-block-sm")  الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                                    div(class="post-date d-flex align-items-center")
                                                        i(class="fas fa-clock")
                                                        p يناير 30, 2022  
                                                        i(class="fas fa-comment")
                                                        p 4                         
                                        #profile(class="tab-pane fade", role="tabpanel", aria-labelledby="profile-tab")
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/avatar.jpeg", alt="" class="img-fluid ")
                                                a(href="singlePost.html" class="profile-text text-block-sm") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/avatar.jpeg", alt="" class="img-fluid ")
                                                a(href="singlePost.html" class="profile-text text-block-sm") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من
                                            div(class="post-block d-flex align-items-center")
                                                div(class="post-thumb position-relative")
                                                    img(src="./img/avatar.jpeg", alt="" class="img-fluid ")
                                                a(href="singlePost.html" class="profile-text text-block-sm") الصحيفة أو الجريدة (أو الجورنال سابقاً) هي مطبوعة لها إصدار يحتوي على مادة إعلامية بصياغة صحافية من         


                                        #contact(class="tab-pane fade", role="tabpanel", aria-labelledby="contact-tab")
                                            div(class="post-tags p-2")
                                                ul(class="list-unstyled") 
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان  
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان  
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان
                                                    li 
                                                        a(href="singlePost.html") اعلان      
                                div(class="sidebar-widget mt-3 p-2")
                                    img(class="img-fluid" src="./img/google-ads-service2.jpg") 
                                div(class="sidebar-widget mt-3 p-2")
                                    div(class="widget-title")
                                        h4 أخبار في صور 
                                        div(class="stripe-line")
                                    div(class="widget-images")
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/1806717289_6e97fe91c9_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")                        
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")    
                                        div(class="post-block")
                                            div(class="post-thumb position-relative")
                                                a(href="singlePost.html")
                                                    img(src="./img/4381851322_d46fd7d75e_b-110x75.jpg",class="img-fluid" alt="")
                                                    i(class="fas fa-camera-retro")     
                                div(class="sidebar-widget mt-3 p-2")
                                    div(class="widget-title")
                                        h4  تسجيل الدخول
                                        div(class="stripe-line")   
                                    form
                                        div(class="mt-2")
                                            input#exampleInputEmail1(type="email", placeholder="اسم المستخدم" class="form-control", aria-describedby="emailHelp")
                                        div(class="mt-2")
                                            input#exampleInputPassword1(type="password",placeholder="كلمة المرور" class="form-control")
                                        div(class="mt-2 form-check")
                                            input#exampleCheck1(type="checkbox", class="form-check-input")
                                            label(class="form-check-label", for="exampleCheck1") تذكرني
                                        button(type="submit", class="mt-2 btn btn-primary btn-block") تسجيل الدخول

                                div(class="sidebar-widget mt-3 p-2")
                                    #carouselExampleDark(class="carousel carousel-dark slide", data-bs-ride="carousel")
                                        div(class="carousel-inner")
                                            div(class="carousel-item active", data-bs-interval="10000")
                                                a(href="singlePost.html") 
                                                    img(src="./img/nexus-6.still002-100529777-orig-310x205.jpg", class="d-block w-100", alt="...")
                                                div(class="carousel-caption d-none d-md-block")
                                                    h3
                                                        a(href="singlePost.html") وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                                            div(class="carousel-item ", data-bs-interval="10000")
                                                a(href="singlePost.html") 
                                                    img(src="./img/nexus-6.still002-100529777-orig-310x205.jpg", class="d-block w-100", alt="...")
                                                div(class="carousel-caption d-none d-md-block")
                                                    h3
                                                        a(href="singlePost.html") وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                                            div(class="carousel-item ", data-bs-interval="10000")
                                                a(href="singlePost.html") 
                                                    img(src="./img/nexus-6.still002-100529777-orig-310x205.jpg", class="d-block w-100", alt="...")
                                                div(class="carousel-caption d-none d-md-block")
                                                    h3
                                                        a(href="singlePost.html") وإذا كانت النفوس كبارا تعبت في مرادها الأجسام            
                                        button(class="carousel-control-prev", type="button", data-bs-target="#carouselExampleDark", data-bs-slide="prev")
                                            span(class="carousel-control-prev-icon", aria-hidden="true")
                                            span(class="visually-hidden") Previous
                                        button(class="carousel-control-next", type="button", data-bs-target="#carouselExampleDark", data-bs-slide="next")
                                            span(class="carousel-control-next-icon", aria-hidden="true")
                                            span(class="visually-hidden") Next
                                div(class="sidebar-widget  mt-3 p-2")
                                    div(class="widget-title")
                                        h4  اخر الاحداث
                                        div(class="stripe-line")   
                                    ul(class="timeline")
                                        li
                                            a(target="_blank", href="https://www.totoprayogo.com/#")
                                                div(class="post-date d-flex align-items-center")
                                                    p يناير 30, 2022  
                                                h3 وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                                        li
                                            a(target="_blank", href="https://www.totoprayogo.com/#")
                                                div(class="post-date d-flex align-items-center")
                                                    p يناير 30, 2022  
                                                h3 وإذا كانت النفوس كبارا تعبت في مرادها الأجسام     
                                        li
                                            a(target="_blank", href="https://www.totoprayogo.com/#")
                                                div(class="post-date d-flex align-items-center")
                                                    p يناير 30, 2022  
                                                h3 وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                                div(class="sidebar-widget  mt-3 p-2")
                                    div(class="widget-title")
                                        h4  الطقس
                                        div(class="stripe-line") 
                                    div(class="weather-widget mt-3")
                                        div(class="today-widget")
                                            div(class="today-degree d-flex  justify-content-around")
                                                div(class="weather-icon text-center")
                                                    i(class="fas fa-cloud fa-2x")  
                                                    div(class="mt-2 ")
                                                        h4 25
                                                            sup س     
                                                div(class="weather-data")
                                                    h3 Cairo 
                                                    p Scattered Clouds
                                                    ul(class="list-unstyled")
                                                        li الرطوبة: 44%
                                                        li الرياح: 5كيلومتر/ساعة ش
                                                        li العظمى 26 • الصغرى 25
                                            div(class="weather-expected")
                                                ul(class="list-unstyled d-flex justify-content-around ")
                                                    li 
                                                        div(class="weather-icon text-center")
                                                            h4 25
                                                                sup س
                                                            p الخميس 
                                                    li 
                                                        div(class="weather-icon text-center")
                                                            h4 25
                                                                sup س
                                                            p الخميس 
                                                    li 
                                                        div(class="weather-icon text-center")
                                                            h4 25
                                                                sup س
                                                            p الخميس 
                                                    li 
                                                        div(class="weather-icon text-center")
                                                            h4 25
                                                                sup س
                                                            p الخميس
                                div(class="sidebar-widget sidebar-widget-social  mt-3 p-2")
                                    div(class="widget-title")
                                        h4  تابعنا   
                                        div(class="stripe-line")  
                                    ul(class="list-unstyled d-flex")
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fas fa-rss")
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-facebook-f")
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-twitter")
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-vimeo-v")
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-instagram")   
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-behance")   
                                        li
                                            a(href="singlePost.html" class="ms-1")
                                                i(class="fab fa-dribbble")          







        include include/footer
        include include/script