extend index
block website_title 
    title  المقالة
block index
    div(class="single-post")
        div(class="container")
            div(class="post-thumb")
                a(data-fancybox data-type="image" href="./img/apple-imac-retina-5k-review-12-1050x525.jpg")
                    img(src="./img/apple-imac-retina-5k-review-12-1050x525.jpg" class="img-fluid" width="100%")
                    i(class="fas fa-eye")         
            div(class="post-content")
                nav(class="crumb d-flex")
                    a(href="#") 
                        i(class="fas fa-home")  
                        | الرئيسية 
                    span(class="delimater") /
                    a(href="#") التكنولوجيا
                    span(class="delimater") /
                    p(class="post-name") ابل تكشف عن iMac with Retina Display بدقة شاشة 5K
                h1(class="post-title") ابل تكشف عن iMac with Retina Display بدقة شاشة 5K
                div(class="post-meta m-2")
                    a(href="#") 
                        i(class="fas fa-user")
                        | Fouad Badawy 
                    span(class="post-date") 
                        i(class="far fa-clock")
                        | نوفمبر 24, 2014
                    span(class="post-cat")  
                        i(class="fas fa-folder")
                        | التكنولوجيا
                    span(class="post-cat") 
                        i(class="fas fa-comment")
                        |  اضف تعليقا
                    span(class="post-cat")     
                        i(class="fas fa-eye")
                        |  15.5 زيارة
                div(class="post-description m-2 p-3")
                    p نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو   
                        | نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو 
                        |نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو 
                    img(src="./img/apple.jpg", class="img-fluid" alt="alt")  
                    p نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو   
                        | نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو 
                        |نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو نشرت أول صحيفة في التاريخ عام 1605 م، ومع دخول القرن العشرين قاومت الصحف المكتوبة كل الاختراعات التقنية الحديث ابتداءً من المذياع وتعريجا على المرناة 
                        |  أو 
                div(class="post-share border-style d-flex")
                    p مشاركة المقالة 
                    div(class="social-icons ps-3")
                        a(href="#")
                            i(class="fab fa-facebook-f") 
                        a(href="#")
                            i(class="fab fa-twitter") 
                        a(href="#")
                            i(class="fab fa-behance") 
                        a(href="#")
                            i(class="fab fa-instagram") 
                        a(href="#")
                            i(class="fab fa-vimeo")          
                div(class="post-share border-style post-author") 
                    p عن المؤلف
                    div(class="stripe-line")
                    div(class="d-flex mt-3")
                        img(class="img-fluid" src="./img/avatar.jpeg")  
                        div(class="author-bio ps-3")
                            p Egyptian, Father, Husband, I design and develop #WordPress themes & plugins, founder of @tielabs
                                div(class="social-icons ")
                                    a(href="#")
                                        i(class="fab fa-facebook-f") 
                                    a(href="#")
                                        i(class="fab fa-twitter") 
                                    a(href="#")
                                        i(class="fab fa-behance") 
                                    a(href="#")
                                        i(class="fab fa-instagram") 
                                    a(href="#")
                                        i(class="fab fa-vimeo") 
                div(class="post-related border-style mt-3")
                    p مقالات مشابهة
                    div(class="stripe-line")
                    div(class="card mt-2")
                        div(class="owl-carousel owl-theme posts-carousel")
                            div(class="item")
                                div(class="post-block")
                                    div(class="post-thumb position-relative pos")
                                        img(src="./img/catpost.jpg", alt="")
                                        i(class="fas fa-camera-retro")
                                    div(class="post-text")
                                        p مراجعة للجهاز اللوحي Apple iPad Air
                                        div(class="post-date d-flex")
                                            i(class="fas fa-clock")
                                            p يناير 30, 2022
                            div(class="item")
                                div(class="post-block")
                                    div(class="post-thumb position-relative pos")
                                        img(src="./img/catpost.jpg", alt="")
                                        i(class="fas fa-camera-retro")
                                    div(class="post-text")
                                        p مراجعة للجهاز اللوحي Apple iPad Air
                                        div(class="post-date d-flex")
                                            i(class="fas fa-clock")
                                            p يناير 30, 2022       
                div(class="post-related border-style mt-3")
                    p اكتب تعليقا
                    div(class="stripe-line")
                    div(class="card mt-2")
                        form
                            div(class="p-2")
                                label(for="inputname", class="form-label") الاسم
                                input#inputname(type="text", class="form-control", aria-describedby="emailHelp")
                            div(class="p-2")
                                label(for="exampleInputEmail1", class="form-label") البريد الالكتروني
                                input#exampleInputEmail1(type="email", class="form-control", aria-describedby="emailHelp")
                            div(class="p-2")
                                label(for="inputcomment", class="form-label") التعليق
                                textarea#floatingTextarea(class="form-control" rows="5" column="30" )

                            button(type="submit", class="btn btn-primary m-2") ارسال تعليق






