footer(class="footer")
    div(class="container")
        div(class="row")
            div(class="col-md-4 col-xs-12")
                img(src="./img/logowebsite.png", alt="", srcset="" class="img-fluid")
                div(class="text")
                    p قالب صحيفة، هو أحد أشهر قوالب ووردبريس الإخبارية يأتي بالكثير من المميزات و الخواص الرائعه مع سهوله الإستخدام و التخصيص و دعم فني مميز. واثقون أنه سيعجبك :)
                div(class="footer-title")
                    h4 لا تذهب بعيدا    
                div(class="social-icons")
                    a(href="#")
                        i(class="fab fa-facebook-f") 
                    a(href="#")
                        i(class="fab fa-twitter") 
                    a(href="#")
                        i(class="fab fa-behance") 
                    a(href="#")
                        i(class="fab fa-instagram") 
                    a(href="#")
                        i(class="fab fa-vimeo")
            div(class="col-md-4 col-xs-12")
                div(class="footer-title")
                    h4 اخر المقالات
                div(class="post-block d-flex")
                    div(class="post-thumb")
                        img(src="./img/catpost.jpg", alt="")
                    div(class="post-text")
                        p وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                        div(class="post-date d-flex")
                            i(class="fas fa-clock")
                            p يناير 30, 2022
                div(class="post-block d-flex")
                    div(class="post-thumb")
                        img(src="./img/catpost.jpg", alt="")
                    div(class="post-text")
                        p وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                        div(class="post-date d-flex")
                            i(class="fas fa-clock")
                            p يناير 30, 2022
                div(class="post-block d-flex")
                    div(class="post-thumb")
                        img(src="./img/catpost.jpg", alt="")
                    div(class="post-text")
                        p وإذا كانت النفوس كبارا تعبت في مرادها الأجسام
                        div(class="post-date d-flex")
                            i(class="fas fa-clock")
                            p يناير 30, 2022                        
            div(class="col-md-4 col-xs-12")
                div(class="footer-title")
                    h4 @ تابعنا
                div(class="post-block d-flex post-twitter")
                    i(class="fab fa-twitter")
                    div(class="post-text")
                        p LCyber Monday Sale, Save 33% on Jannah theme during our year-end Sale, Purchase a new license for your next project… https://t.co/clOZ3UdBy6
                        div(class="twitter-date")
                            p يناير 30, 2022
                div(class="post-block d-flex post-twitter")
                    i(class="fab fa-twitter")
                    div(class="post-text")
                        p LCyber Monday Sale, Save 33% on Jannah theme during our year-end Sale, Purchase a new license for your next project… https://t.co/clOZ3UdBy6
                        div(class="twitter-date")
                            p يناير 30, 2022            
                div(class="post-block d-flex post-twitter")
                    i(class="fab fa-twitter")
                    div(class="post-text")
                        p LCyber Monday Sale, Save 33% on Jannah theme during our year-end Sale, Purchase a new license for your next project… https://t.co/clOZ3UdBy6
                        div(class="twitter-date")
                            p يناير 30, 2022            
div(class="footer-bottom") 
    div(class="copyrihgt-center")
        p  جميع الحقوق محفوظة لدي موقع الوساطة 
